Flask==2.2.2
python-dotenv==1.0.1
Flask-Cors==3.0.10
openai==1.58.1  # For GPT API calls
requests==2.28.1  # HTTP requests
snowflake-connector-python==3.12.4 # Snowflake connector
gunicorn==20.1.0  # For production deployment
